.view {
  vertical-align: top;
  display: inline-block;
  width: calc(100vw - 300px);
  height: 50vh;
  text-align: center;
}

.view .imageContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 70vh;
  width: calc(100vw - 200px);
  text-align: center;
  font-size: 48px;
}

.view .imageContainer .image {
  margin: 30px 30px 0 30px;
  border: solid black 1px;
  width: calc(100% - 150px);
  max-width: 650px;
}


/* The switch - the box around the slider */
.view .switch {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.view .switch input {
  display: none;
}

/* The slider */
.view .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.view .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.view input:checked + .slider {
  background-color: #2196F3;
}

.view input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.view input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.view .slider {
  border-radius: 34px;
}

.view .slider:before {
  border-radius: 50%;
}
